__pycache__/
*.pyc
venv/
env/
.env
node_modules/
Diploma/pec-dashboard/node_modules/
.DS_Store
Thumbs.db
dist/
*.pkl

# LaTeX build artifacts
latex/*.aux
latex/*.bbl
latex/*.bcf
latex/*.blg
latex/*.log
latex/*.out
latex/*.run.xml
latex/*.toc
latex/doc.pdf
